@using Gamebook.Web.Areas.Administration.Models
@model PageFullViewModel

@using (Html.BeginForm("Edit", "Page", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @*<div class="edit-field">
        <div>PageId: </div>
        <div>@Model.Id</div>
        <input type="hidden" name="Id" value=@Model.Id />
    </div>*@
    <div class="edit-field">
        <div>BookCatNum: </div>
        <div>@Html.EditorFor(m => m.BookCatNum)</div>
    </div>
    <div class="edit-field">
        <div>Number: </div>
        <div>@Html.EditorFor(m => m.Number)</div>
    </div>
    <div class="edit-field">
        <div>Text: </div>
        <div>@Html.EditorFor(m => m.Text)</div>
    </div>
    <div class="edit-field">
        <div>isDeleted: </div>
        <div>@Html.EditorFor(m => m.isDeleted)</div>
    </div>
    <div class="edit-field">
        <div>Deleted on: </div>
        <div>@Model.DeletedOn</div>
        <input type="hidden" name="DeletedOn" value=@Model.DeletedOn />
    </div>
    <div class="edit-field">
        <div>Created on: </div>
        <div>@Model.CreatedOn</div>
        <input type="hidden" name="CreatedOn" value=@Model.CreatedOn />
    </div>
    <div class="edit-field">
        <div>Modified on: </div>
        <div>@Model.ModifiedOn</div>
        <input type="hidden" name="ModifiedOn" value=@Model.ModifiedOn />
    </div>
    <div class="edit-field">
        <div>Author username: </div>
        <div>@Model.AuthorUsername</div>
        <input type="hidden" name="AuthoUsername" value=@Model.AuthorUsername />
    </div>
    <div class="edit-field">
        <div>Author Id: </div>
        <div>@Model.AuthorId</div>
        <input type="hidden" name="AuthorId" value=@Model.AuthorId />
    </div>
    
    <input type="submit" value="Edit" class="btn btn-default" />
}
